body{
    background-color: blanchedalmond;
}

h1{
    color: darkmagenta;
    text-align: center;
}

h2{
    color: darkmagenta;
    text-align: center;
}

.Cookie{
    margin-left: 38%;
}

p{
    color: darkmagenta;
    text-align: center;
}

img{
    width: 25%;
    cursor: pointer;

}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 40%;
    margin: 0 auto;
    .button {
        margin: 1%;
    }
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: blanchedalmond;
  background-color: darkmagenta;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px gray;
}

.button:hover {background-color: purple}

.button:active {
  background-color: darkmagenta;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}