body{
    background-color: blanchedalmond;
}

h1{
    color: darkmagenta;
    text-align: center;
}

<<<<<<< HEAD
.Cookie{
    margin: auto;
    margin-left: 38%;
=======
h2{
    color: darkmagenta;
    text-align: center;
}

.Cookie{
    margin: auto;
    margin-left: 39%;
}

p{
    color: darkmagenta;
    text-align: center;
>>>>>>> origin/main
}